@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    MasterFunction f = new MasterFunction();
    var formData = new FormMasterData();
}

@model PengembalianBukuModel
@{
    if (Model.Error == null)
    {
        <link rel="stylesheet" type="text/css" href="~/assets/datatables/jquery.dataTables.min.css">
        <script src="~/assets/datatables/jquery.dataTables.min.js"></script>

        <link href="~/assets/datatables/responsive.dataTables.min.css" rel="stylesheet" />
        <script src="~/assets/datatables/dataTables.responsive.min.js"></script>

        <link href="~/assets/datatables/rowGroup.dataTables.min.css" rel="stylesheet" />
        <script src="~/assets/datatables/dataTables.rowGroup.min.js"></script>

        <script src="~/assets/dropify/dropify.min.js"></script>
        <link href="~/assets/dropify/dropify.min.css" rel="stylesheet" />

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Transaksi Peminjaman</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Master</a></li>
                        <li class="breadcrumb-item active">Transaksi Peminjaman</li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card rounded">
                    <div class="card-header" style="background-color:white;">
                        @*<a href="@Url.Action("CariBuku","Sewa")"
                               class="btn btn-info m-l-15"
                               style="float:right">
                                <i class="fa fa-plus-circle"></i> Pinjam
                            </a>*@
                        <button type="button" class="btn btn-outline-info m-l-15"
                                style="float:right"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-filter"></i> Set Filter
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample" style="margin-top:0px;">
                            <div class="card">
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form asp-action="PengembalianBuku_Search" id="PengembalianBuku_Search" style="margin-top:-10px;">
                                            @{
                                                formData.Template = f.GetFormLayoutForFilter("Form PengembalianBuku Filter");
                                                formData.ColField = 4;
                                                @await Html.PartialAsync("_LayoutFormFilter", formData)
                                                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-outline-primary">
                                                    <span class="fa fa-search"></span> Search
                                                </button>
                                            }
                                        </form>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px;">
                            <div id="view-all">
                                @await Html.PartialAsync("PengembalianBuku_Table", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" role="dialog" id="form-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info" style="padding: 10px 10px 10px 10px;">
                        <p class="modal-title text-white">Modal title</p>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            PengembalianBuku_Submit = form => {
                Swal.fire({
                    title: 'Warning',
                    text: 'Apakah kamu yakin melakukan submit pengembalian buku ini?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, return this book!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        try {
                            $.ajax({
                                type: 'POST',
                                url: form.action,
                                data: new FormData(form),
                                contentType: false,
                                processData: false,
                                success: function (res) {
                                    if (res.isValid) {
                                        $('#PengembalianBuku_Search').submit();
                                        Swal.fire(
                                            'Retur ' + res.title + '!',
                                            '' + res.message + '',
                                            'success'
                                        );
                                    }
                                    else {
                                        Swal.fire(
                                            'Retur ' + res.title + '!',
                                            '' + res.message + '',
                                            'error'
                                        );
                                    }
                                },
                                error: function (err) {
                                    Swal.fire(
                                        'Sorry !',
                                        '' + err.responseText + '',
                                        'error'
                                    );
                                }
                            })
                        } catch (ex) {
                            Swal.fire(
                                'Sorry !',
                                '' + ex.message + '',
                                'error'
                            );
                        }
                    }
                });
                $(".preloader").fadeOut();
                //prevent default form submit event
                return false;
            }
            $(function () {
                $("#PengembalianBuku_Search").submit(function (e) {
                    try {
                        e.preventDefault();
                        var Data = new FormData(document.querySelector('form'))
                        console.log(Data);
                        $.ajax({
                            type: 'POST',
                            url: document.querySelector('form').action,
                            data: Data,
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                if (res.isValid) {
                                    $('#view-all').html(res.html)
                                }
                                else {
                                    alert(res.title + "/n" + res.message);
                                }
                            },
                            error: function (xhr, status, error) {
                                var err = eval("(" + xhr.responseText + ")");
                                alert(err.Message);
                            }
                        })
                        //to prevent default form submit event
                        return false;
                    }
                    catch (ex) {
                        $("#error-alert").fadeTo(3000, 500).slideUp(500, function () {
                            $("#error-alert").slideUp(500);
                        });
                    }
                });
            });
        </script>
    }
    else
    {
        @await Html.PartialAsync("Error", Model.Error)
    }
}
